.button{
    margin: 10px;
    background-color: blue;
    color: white;
    border: blue;
    padding: 3px;
}
.chatFlex{
    display: flex;
    flex-direction: column;
}
.width{
    width: max-content;
}
