.button{
    margin: 10px;
    background-color: blue;
    color: white;
    border: blue;
    padding: 3px;
}
.chatFlex{
    display: flex;
    flex-direction: column;
}
.width{
    width: max-content;
}
.ChatListButton{
    color: white;
    border-color: blue;
    margin-left: 1%;
    background-color: blue;
}
.chatListLi{
    text-decoration: none;
}
