.app-wrapper{
    display: flex;
    flex-direction: column;
}
.header-color{
    background-color: forestgreen;
}
.app-header{
    padding: 1%;
    margin: 0 auto;
    padding-left: 35%;
    color: #00ffff;
}
.app-box{
    display: flex;
}
.app-nav-box{
    margin-top: 1%;
    background-color: #bd9f36;
    width: 25%;
    border: 10px solid #00ffff  ;
}
.app-nav{
    margin-left: 25%;
    color: aqua;
}
.app-form{
    margin-left: 25%;

}
